<div class="jumbotron left">
<h1>Welcome Frendorsed!</h1>
<p>Where you go to find services you need, from friends you trust!
</p>
	<%= link_to "Log In", "#",class: "btn btn-primary" %>
	<%= link_to "Sign Up", "#",class: "btn btn-primary" %>
</div>
	</div>